<% provide(:title, 'Contact') %>

    <h1>Contact</h1>
    <p>
      Thanks for visiting the Poker Bankroll Tracker site. If you would like to contact me please reach out at <a href=mailto:"scrowlan@gmail.com">scrowlan@gmail.com</a>.
    </p>