<%= form_for(@roll) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text :amount, placeholder: "Enter Roll Amount" %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>