<% provide(:title, @user.first_name) %>

<div class="row">
	<aside class="span2">
		<section>
			<h1>
				<%= @user.first_name %>
				<%= @user.last_name %>
			</h1>
			<%= @user.email %>
		</section>
	</aside>
	

		
	</div>
</div>
