<div class="row">
	<div class="span3">
		<% if current_user.games.any? %>
		<h3>Recent Sessions:</h3>
			<table class="games">
				<thead>
					<tr>
						<th>Buy-In</th>
						<th>Cash-Out</th>
						<th>Difference</th>
					</tr>
				</thead>
				<tbody>
					<% current_user.games.each do |games| %>		
					<tr>
						<td><%= number_to_currency(games.buy_in) %></td>
						<td><%= number_to_currency(games.cash_out) %></td>
						<td><%= number_to_currency(games.difference) %></td>
					</tr>
					<% end %>
					<tr>
						<td colspan="2">Total Difference:</td>
						<td><%= number_to_currency(@total_difference)%></td>
					</tr>
				</tbody>
			</table>
			<% end %> 
	</div>
</div>