<div class="row">
	<div class="span2">
		<% if current_user.games.any? %>
		<h3>Recent Sessions:</h3>
		<ol class="games amount">
			<% current_user.games.each do |games| %>
			<table>
				<tr>
					<td><%= games.buy_in %></td>
					<td><%= games.cash_out %></td>
					<td><%= games.difference %></td>
				</tr>
			</table>
			<% end %>
		</ol>
		<% end %> 
	</div>
</div>