<div class="row">
	<div class="span2">
		<% if current_user.rolls.any? %>
		<h3>Current Bankrolls:</h3>
		<ol class="rolls amount">
			<table>
				<tbody>
					<tr>
				<% current_user.rolls.each do |roll| %>
				<tr><td colspan="2" class="left"><%= roll.site_name.capitalize %></td></tr>
				<% @id = roll.id%>
				<% @td = @total_difference_by_game.fetch(@id) { |roll_id, value| puts "#{value}" } %>
						<td><%= number_to_currency(roll.amount + @td) %></td>
						<td><%= link_to "Delete", roll, :method => :delete %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</ol>
		<% end %> 
	</div>
</div>