<div class="row">
	<div class="span2">
		<% if current_user.rolls.any? %>
		<h3>Current Bankrolls:</h3>
		<ol class="rolls amount">
			<%= render current_user.rolls %>
		</ol>
		<% end %> 
	</div>
</div>