<li>
	<span class="content"><%= game.amount %></span>
	<% if current_user?(game.user) %>
	<%= link_to "delete", game, method: :delete, data: { confirm: "You sure?"}, title: game.amount %>
	<% end %>
</li>
